{% extends "blog/header.html" %}
{% block content %}
	<div class="container">
		<div class="row">
			{% for blog in blogs %}
				<div class="col s12 m6">
					<div class="card blue-grey darken-1">
						<div class="card-content white-text">
							<span class="card-title">
								{{ blog.title }}
							</span>
							<p>
								{{ blog.content|safe }}
							</p>
						</div>
						<div class="card-action">
							<span>
								{{ blog.date_posted | date:"d M Y" }}
							</span>
							<a href="{% url 'show_blog' blog.id %}">Read More</a>
							<div>
								<img src="{{ blog.author.profile.user_image.url }}" alt="" class="circle responsive-img" width="50px" height="50px">
								<a href="/user/{{ blog.author.id }}">{{ blog.author.first_name }} {{ blog.author.last_name }}</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}