{% extends "blog/header.html" %}
{% block content %}
	<div class="container">
		<h3>Posts by {{view.kwargs.username}} ({{ page_obj.paginator.count }})</h3>
		<div class="row">
			{% for blog in blogs %}
				<div class="col s12 m6">
					<div class="card grey darken-4">
						<div class="card-content white-text">
							<span class="card-title">
								{{ blog.title }}
							</span>
							<p>
								{{ blog.content|safe }}
							</p>
						</div>
						<div class="card-action white-text">
							<span>
								{{ blog.date_posted | date:"d M Y" }}
							</span>
							<a href="{% url 'show_blog' blog.id %}">Read More</a>
							<div>
								<img src="{{ blog.author.profile.user_image.url }}" alt="" class="circle responsive-img" width="50px" height="50px">
								<a href="{% url 'users_blogs' blog.author.username %}">{{ blog.author.first_name }} {{ blog.author.last_name }}</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		{% if is_paginated %}
			<ul class="pagination">
				{% if page_obj.has_previous %}
					<li class="waves-effect"><a href="?page=1"><i class="material-icons">first_page</i></a></li>
					<li class=""><a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">navigate_before</i></a></li>
				{% else %}
					<li class="disabled"><a href="#"><i class="material-icons">first_page</i></a></li>
					<li class="disabled"><a href="#"><i class="material-icons">navigate_before</i></a></li>
				{% endif %}

				{% for page_number in page_obj.paginator.page_range %}
					{% if page_number == page_obj.number %}
						<li class="waves-effect active grey darken-4"><a href="?page={{page_number}}">{{page_number}}</a></li>
					{% elif page_number > page_obj.number|add:'-2' and page_number < page_obj.number|add:'2' %}
						<li class="waves-effect"><a href="?page={{page_number}}">{{page_number}}</a></li>
					{% endif %}
				{% endfor %}

				{% if page_obj.has_next %}
					<li class=""><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">navigate_next</i></a></li>
					<li class="waves-effect"><a href="?page={{ page_obj.paginator.num_pages }}"><i class="material-icons">last_page</i></a></li>
				{% else %}
					<li class="disabled"><a href="#"><i class="material-icons">navigate_next</i></a></li>
					<li class="disabled"><a href="#"><i class="material-icons">last_page</i></a></li>
				{% endif %}
			</ul>
		{% endif %}
	</div>
{% endblock %}